@import '../../style/variables';

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 280px;
  &:hover {
    cursor: pointer;
  }
  .card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 66px);
    width: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
      width: get-vw(260px);
      min-width: 161px;
      height: get-vh(297px);
      max-height: 297px;
      min-height: 184px;
    }
  }
  .card-product-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 66px;
    height: get-vh(79px);
    max-height: 79px;
    justify-content: space-between;
  }
  .card-product-info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: capitalize;
    align-items: baseline;
    .card-brand {
      color: $input-border;
      font: normal normal bold 15px/22px Nunito;
    }
    .card-color {
      color: $grey-300;
      font: normal normal bold 13px/22px Nunito;
      span {
        font: normal normal normal 13px/22px Nunito;
      }
    }
  }

  .card-price {
    color: $grey-300;
    text-align: left;
    font: normal normal bold 18px/22px Nunito;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 1024px) {
  .card-container {
    width: get-vw(280px);
    min-width: 170px !important;
    min-height: 266px !important;
    height: get-vh(300px);
    max-height: 300px !important;
  }
  .card-img-container {
    > img {
      max-width: 161px;
      max-width: 184px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .card-container {
    width: 100%;
    min-width: 170px !important;
    max-height: 266px !important;
  }
  .card-img-container {
    > img {
      max-width: 161px;
      max-width: 184px;
    }
  }
}
