@import '../../style/variables';
.header {
  height: get-vh(80px);
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo-redirect {
    height: 42.04px;
    width: 128.94px;
    margin-left: get-vw(220px);

    .header-logo {
      height: 42.04px;
      width: 128.94px;
    }
  }
  .header-buttons {
    .header-account-button {
      height: get-vh(40px);
      width: 116px;
      margin-left: get-vw(10.43px);
      border-radius: 8px;
      padding: 8px;
    }
    .header-add-button {
      border-radius: 8px;
      height: get-vh(40px);
      width: 125px;
      padding: 8px;
    }
    margin-right: get-vw(220px);
  }
  .header-add-img {
    margin-right: 6px;
  }
  .header-account-img {
    margin-right: 4.5px;
  }
}
@media only screen and (max-width: 500px) {
  .header-add-button {
    width: 40px !important;
    margin: 0 10px !important;
    > span {
      display: none;
    }
  }

  .header-add-img {
    margin: 0px !important;
  }
  .header-logo-redirect,
  .header-buttons {
    margin: 0 10px !important;
  }
}
