@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,600&display=swap%27');
@import './variables';
body {
  font-family: 'Nunito', sans-serif;
  background-color: $white-200;
}
.react-toastfiy {
  --toastify-color-success: #f1fff0;
  --toastify-color-error: #ffe5e5;

  --toastify-icon-color-success: #46af32;
  --toastify-icon-color-error: #f77474;

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  //Used only for colored theme
  --toastify-text-color-success: #46af32;
  --toastify-text-color-error: #f77474;
}
