@import '../../style/variables';

.add-product {
  width: 100vw;
  min-height: get-vh(1000px);
  background-color: $white-200;
  display: flex;
}

.add-product-container {
  width: get-vw(1480px);
  min-width: 355px;
  min-height: 730px;
  background-color: $white-100;
  margin: 20px auto;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-bottom {
    width: get-vw(1480px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    > button {
      width: 315px;
      height: 45px;
      padding: 8px;
      border-radius: 8px;
      text-align: center;
      font: normal normal bold 18px/24px Nunito;
      margin: 0 30px 30px 0;
    }
  }
  &-left,
  &-right {
    margin: 0 get-vw(30px);
    min-width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    > h2 {
      margin-top: 30px;
      font: normal normal bold 25px/23px Nunito;
      color: $grey-200;
    }
  }
  &-left {
    width: get-vw(730px);
    min-height: 630px;
  }
  &-right {
    width: get-vw(595px);
    min-height: 300px;
  }
  .product-title-container {
    position: relative;
    > span {
      position: absolute;
      bottom: -14px;
      font: normal normal normal 12px Nunito;
      color: $warning-border;
    }
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    > label {
      font: normal normal normal 15px/20px Nunito;
      color: $grey-200;
      margin-bottom: 5px;
    }
    > input {
      height: 45px;
      font: normal normal normal 16px/22px Nunito;
    }
  }
  .product-description-container {
    position: relative;
    > span {
      position: absolute;
      bottom: -14px;
      font: normal normal normal 12px Nunito;
      color: $warning-border;
    }
  }
  .product-price-container {
    margin-top: 25px;
    width: 236px;
    display: flex;
    flex-direction: column;
    position: relative;
    > input {
      padding-right: 40px;
    }
    > input[type='number']::-webkit-inner-spin-button,
    > input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    .add-product-price {
      position: absolute;
      font: normal normal normal 16px/22px Nunito;
      color: $grey-500;
      bottom: 11px;
      right: 15px;
      cursor: default;
    }
    > span {
      position: absolute;
      bottom: -14px;
      font: normal normal normal 12px Nunito;
      color: $warning-border;
    }
    > label {
      font: normal normal normal 15px/20px Nunito;
      color: $grey-200;
      margin-bottom: 5px;
    }
    > input {
      height: 45px;
      font: normal normal normal 16px/22px Nunito;
    }
  }
  .product-offerable-container {
    margin-top: 25px;
  }
}

.list-box-conatiner {
  width: get-vw(730px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &-color,
  &-status,
  &-brand,
  &-category {
    margin-top: 25px;
    position: relative;
    > span {
      position: absolute;
      bottom: -14px;
      font: normal normal normal 12px Nunito;
      color: $warning-border;
    }
  }
}
.container-brace {
  margin: 0px;
  border: 0.5px solid $white-200;
  height: 630px;
}

@media only screen and (max-width: 1133px) {
  .container-brace {
    display: none;
  }
  .add-product-container {
    margin-top: 16px !important;
    margin-bottom: 10px !important;
    &-left,
    &-right {
      width: get-vw(1480px);
      margin-left: 2px !important;
      margin-right: 2px !important;
      margin-top: 8px !important;
    }
    &-left {
      > h2 {
        margin-top: 0px !important;
      }
    }
    &-right {
      > div {
        width: 100%;
      }
    }
    .list-box-conatiner {
      width: 100%;
    }
    &-left,
    &-right {
      margin: 0 10px;
    }
    &-bottom {
      width: get-vw(1480px);
      min-width: 335px;
      margin: 0 10px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      > button {
        margin: auto;
      }
    }
  }
}
