@import '../../style/variables';

.signup {
  background-color: $background;
  height: get-vh(1080px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: get-vw(1920px);

  .image {
    height: get-vh(1080px);
    width: get-vw(835px);

    img {
      height: get-vh(1080px);
      width: get-vw(835px);
      object-fit: cover;
    }
  }
}

.form-container {
  width: get-vw(1085px);
  min-width: 500px !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: get-vw(8px);
  width: get-vw(569px);
  min-width: 480px !important;
  position: relative;
  height: 554px;
  min-width: 355px;
  background-color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 3px 12px #1e36480a;
  border-radius: 8px;
}
.custom-btn,
.password-input,
.email-input {
  width: get-vw(389px);
  min-width: 328px !important;
  height: 45px;
  font: normal normal bold 18px/24px Nunito;
}
.email-input,
.password-input {
  margin-bottom: 15px;
}
.custom-btn {
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 41px;
}
.form-title {
  color: $grey-200;
  margin-bottom: 50px;
  margin-top: 70px;
  width: get-vw(389px);
  min-width: 328px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-right: 0;
    margin-bottom: 10px;
  }
  div {
    font-size: 15px;
    text-align: center;
    width: get-vw(389px);
    min-width: 328px !important;
  }
}
.form-redirect {
  height: 20px;
  width: get-vw(389px);
  min-width: 328px !important;
  margin-bottom: get-vw(70px);
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font: normal normal normal 15px/20px Nunito;
    color: $grey-200;

    &::after {
      content: '\00a0';
    }
  }
  .link-to {
    font: normal normal bold 15px/20px Nunito;
    color: $input-border;

    text-decoration: none;
  }
}
.logo {
  position: absolute;
  top: -134px;
  width: get-vw(224px);
  min-width: 197px !important;
  height: 73px;
  min-width: 140px;
}
.input-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  .form-label {
    font: normal normal normal 15px/20px Nunito;
    color: $grey-200;
    margin-bottom: get-vh(5px);
    margin-left: 1px;
  }

  p {
    width: get-vw(389px);
    min-width: 328px !important;
  }
  .form-error {
    color: $warning-border;
    position: absolute;
    font: normal normal normal 12px/20px Nunito;
    bottom: -4px;
  }
}
@media only screen and (max-width: 900px) {
  .signin {
    justify-content: center;
    > .image {
      display: none;
    }
  }
  .form-container {
    width: 100vw !important;
    min-width: 100vw !important;
  }
  .form {
    width: 500px !important;
    height: 435px !important;
    min-width: 355px !important;
    .form-title {
      margin-top: 22px !important ;
      margin-bottom: 30px !important ;
    }
  }
  .logo {
    top: -72.5px !important;
    height: 48.5px !important;
  }
  .custom-btn {
    margin-top: 15px !important;
    margin-bottom: 30px !important;
  }
  .form-redirect {
    margin-bottom: 40px !important;
  }
}
@media only screen and (max-width: 520px) {
  .form {
    width: calc(100vw - 20px) !important;
  }
}
